/*###########################################################################*/
/* GLOBAL */
/*###########################################################################*/

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: #000099;
}

    a:hover, a:visited:hover {
        text-decoration: none;
        color: #990000;
    }

html, body {
    background-position: center top;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 8pt;
    margin: 0px;
    background-color: #FFFFFF;
    color: #000000;
}

form {
    margin: 0;
    top: 0;
}

dt {
    font-weight: bold;
    margin-left: 20px;
}

dd {
    margin: 0 40px 0 40px;
}

hr {
    border: 0;
    border-top: solid 1px #990000;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 14pt;
    margin: 0;
}

h3 {
    font-weight: bold;
    font-size: 10pt;
    margin: 0;
}

h4 {
    font-weight: bold;
    font-size: 8pt;
    margin: 0;
}

h5 {
    font-size: 8pt;
    margin: 0;
}

/*###########################################################################*/
/* HEADER
/*###########################################################################*/

.header {
    left: 0px;
    right: 0px;
    background-image: url(blog/transparentBlack50.png);
    background-repeat: repeat;
    padding: 0px 35px 0px 55px;
    margin: 0;
    margin-bottom: 20px;
}

.headerNavFrame {
    background-position: top left;
    background-image: url(blog/transparentGrayGradient.png);
    background-repeat: repeat-y;
    border-bottom: solid 1px #808080;
    padding: 0 0 0 50px;
    margin: 0 -35px 0 535px;
    top: 0px;
}

.headerNav {
    margin: 0;
    padding: 4px 47px 4px 0px;
    background-image: url(blog/transparentBlack25.png);
    background-repeat: repeat;
    font-size: 10px;
    color: #ffffff;
    line-height: 20px;
    text-align: right;
}

    .headerNav a, .headerNav a:hover, .headerNav a:visited, .headerNav a:active, .headerNav a:link {
        color: #FFFFFF;
        font-weight: bold;
    }

        .headerNav a:hover {
            text-decoration: underline;
        }

.title {
}

    .title a, .title a:hover, .title a:visited, .title a:active, .title a:link {
        color: #FFFFFF;
        text-decoration: none;
    }

.subtitle {
    color: #EEEEEE;
}

.rssLinkStyle {
    vertical-align: top;
    margin-left: 30px;
}

.headerContent {
    margin: 15px 0 20px 0;
    float: left;
}

/*###########################################################################*/
/* SEARCH */
/*###########################################################################*/

.searchContainerStyle {
    text-align: right;
    margin: 0;
    display: inline;
    white-space: nowrap;
}

.searchTextBoxStyle {
    width: 130px;
    height: 13px;
    font-size: 8pt;
    padding: 2px;
    margin-left: 30px;
}

.searchButtonStyle {
    height: 17px;
    width: 60px;
    font-size: 8pt;
    font-weight: bold;
    color: #333333;
    background-color: #C0C0C0;
    border-width: 0px;
    padding: 0 0 2px 0;
    margin: 0;
    vertical-align: baseline;
}

/*###########################################################################*/
/* SIDEBAR
/*###########################################################################*/

.sidebar {
    width: 232px;
    padding-left: 25px;
    vertical-align: top;
}

.sideFrame {
    width: 206px;
    padding: 5px 12px 12px 12px;
    border: 1px solid #D8D8D8;
    background-image: url(blog/transparentWhite50.png);
    background-repeat: repeat;
    margin-bottom: 15px;
}

.sideTop {
    white-space: nowrap;
    font-size: 9pt;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid #DDBB99;
    color: #666666;
}

.sideCenter {
    text-align: center;
}

.sideRight {
    text-align: right;
}

.sideLeft, .sideCenter, .sideRight {
    padding-top: 5px;
}

.sideSection {
    border-top: 1px solid #DDBB99;
    margin-top: 5px;
}

.interactStyle {
    text-align: right;
}

    .interactStyle .interactPhoto {
        float: left;
    }

        .interactStyle .interactPhoto IMG {
            border-color: #000;
        }

    .interactStyle .interactButton {
        margin-bottom: 10px;
    }

    .interactStyle .interactFooter {
        clear: both;
    }

/*###########################################################################*/
/* CONTENT
/*###########################################################################*/

.content {
    font-size: 8pt;
    margin: 0px 35px 15px 35px;
    padding: 0;
    width: auto;
}

.contentTable {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.bodyText {
    width: auto;
    font-size: 8pt;
    vertical-align: top;
    padding: 0;
    margin-right: 260px;
}

.pagingNavigationStyle {
    font-size: 10pt;
}

.pagingNavigationStylePrevious {
    display: block;
    float: left;
}

.pagingNavigationStyleNext {
    display: block;
    float: right;
}

/*###########################################################################*/
/* BLOG FOOTER
/*###########################################################################*/
.footer {
    background-color: #303030;
    padding: 10px;
    text-align: center;
}

.footContainer {
    color: #B0B0B0;
    margin: auto;
    font-size: 8pt;
    text-align: left;
    width: 950px;
}

    .footContainer a, .footContainer a:hover, .footContainer a:visited, .footContainer a:active, .footContainer a:link {
        color: #B0B0B0;
        font-weight: bold;
        text-decoration: underline;
    }

.footColumn {
    float: left;
    margin-right: 30px;
}

.footFrame {
    width: 200px;
    padding: 5px 0 12px 0;
}

.footTop {
    white-space: nowrap;
    font-size: 9pt;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid #CC6633;
    color: #D5D5D5;
}

.footCenter {
    text-align: center;
}

.footRight {
    text-align: right;
}

.foot, .footCenter, .footRight {
    padding-top: 5px;
}

.footSection {
    border-top: 1px solid #CC6633;
    margin-top: 5px;
}

/*###########################################################################*/
/* BLOG ITEM
/*###########################################################################*/

.itemFrameStyle {
    margin-bottom: 20px;
    border: 1px solid #D8D8D8;
    background-image: url(blog/transparentWhite50.png);
    background-repeat: repeat;
    padding: 15px;
}

.itemHeadStyle {
    width: 100%;
    border-bottom: 1px solid #CC6633;
    line-height: 14pt;
}

.itemPagingNavigationStyle {
    width: 100%;
    text-align: center;
    font-size: 10pt;
    line-height: 20pt;
}

.itemAuthorStyle a, .itemAuthorStyle a:hover, .itemAuthorStyle a:visited, .itemAuthorStyle a:active, .itemAuthorStyle a:link {
    font-size: 10pt;
}

.itemAuthorStyle {
    font-size: 8pt;
    float: right;
}

.itemTitleStyle, .itemTitleStyle a:link, .itemTitleStyle a:visited, .itemTitleStyle a:hover, .itemTitleStyle a:link {
    color: #222222;
}

    .itemTitleStyle a:hover, .itemTitleStyle a:visited:hover {
        color: #990000;
    }

.itemCategoryStyle {
    margin-bottom: 10px;
}

.categoryLinkStyle {
    font-weight: normal;
}

.itemBodyStyle {
    padding-right: 0;
    padding-top: 0px;
    border-bottom: 1px solid #CC9966;
    line-height: 12pt;
}

    .itemBodyStyle H2 {
        border-bottom: 1px solid #CC6633;
    }

    .itemBodyStyle P, .itemBodyStyle DIV, .bodyContentStyle P, .bodyContentStyle DIV {
        margin-top: 0;
        padding-bottom: 5px;
    }

    .itemBodyStyle BLOCKQUOTE {
        border-left: double 3px #AA6633;
        border-top: dotted 1px #CCCCCC;
        padding: 5px 10px;
    }

.itemFooterStyle {
    vertical-align: top;
    padding-right: 0;
    color: gray;
    padding-top: 2px;
    padding-bottom: 5px;
}

.permalinkImageStyle, .editLinkImageStyle, .deleteLinkImageStyle {
    vertical-align: middle;
}

/*###########################################################################*/
/* COMMENTS
/*###########################################################################*/

.commentBoxStyle {
    background-color: white;
    border: solid 1px #D8D8D8;
    margin-top: 10px !important;
    padding: 15px;
    font-size: 8pt;
}

.commentBoxAuthorStyle {
    background-image: url(blog/transparentBlack25.png);
    background-repeat: repeat;
}

.commentDateStyle {
    color: #000000;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.commentBodyStyle, .commentBodyAuthorStyle {
    display: inline;
    font-size: 8pt;
    float: right;
}

.commentGravatar {
    border: solid 1px #333333;
}

.commentSpamStateStyle {
}

.commentBoxFooterStyle {
}

.commentGravatarBlock {
    display: inline;
    margin: 0 10px 10px 0;
}

.commentPermalinkStyle {
    display: block;
    clear: both;
}

/*###########################################################################*/
/* Tag Cloud */
/*###########################################################################*/
.tagCloud {
    line-height: 175%;
}

.smallestTag {
    font-size: 100%;
    display: inline;
    white-space: nowrap;
}

.smallerTag {
    font-size: 105%;
    display: inline;
    white-space: nowrap;
}

.smallTag {
    font-size: 110%;
    display: inline;
    white-space: nowrap;
}

.mediumTag {
    font-size: 115%;
    display: inline;
    white-space: nowrap;
    font-weight: bold;
}

.largeTag {
    font-size: 120%;
    display: inline;
    white-space: nowrap;
    font-weight: bold;
}

.largerTag {
    font-size: 130%;
    display: inline;
    white-space: nowrap;
    font-weight: bold;
}

.largestTag {
    font-size: 135%;
    display: inline;
    white-space: nowrap;
    font-weight: bold;
}
